<div class="jumbotron">
    <h1>School Module</h1>
    <p class="lead"> Welcome</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Motto</h2>
        <p>Virtue Alone Ennobles.</p>
        <p><a class="btn btn-default" href="https://www.bing.com/search?q=virtue+alone+ennobles&cvid=59ca05a71f4349f7b5aba5b0aa79ef17&aqs=edge.0.0l2.7209j0j4&FORM=ANAB01&PC=U531">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Pledge</h2>
        <p>Keep On Learning</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
</div>
